@mixin common-style {
    color: orange;
    font-size: 60px;
    font-family: "DIN Alternate";
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.from .tempoValue,
.to .tempoValue {
    position: fixed;
}
.from {
    @include common-style;
    width: 100%;
    height: 50%;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(40, 40, 40) 100%);
    background: -webkit-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(40, 40, 40) 100%);
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(40, 40, 40) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.to {
    @include common-style;
    width: 100%;
    height: 50%;
    background: rgb(40, 40, 40);
    background: -moz-linear-gradient(top, rgb(40, 40, 40) 0%, rgb(0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgb(40, 40, 40) 0%, rgb(0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgb(40, 40, 40) 0%, rgb(0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
